<pci-app-layout
  brandTitle="SIGAD-IC"
  brandSubtitle="Sistema de Gestão do Instituto de Criminalística"
  brandLogoSrc="/assets/images/logo-pci-govrn.png"
  [navGroups]="navGroups()"
  [activeItemId]="activeItemId()"
  [userName]="userName()"
  [userMeta]="userMeta()"
  [userAvatarName]="userAvatarName()"
  [collapsed]="collapsed()"
  [mobileOpen]="mobileOpen()"
  (collapsedChange)="collapsed.set($event)"
  (mobileOpenChange)="mobileOpen.set($event)"
  (activeItemChange)="onNavChange($event)"
  (logout)="onLogout()"
>
  <router-outlet />
</pci-app-layout>

<pci-toast-container />
<pci-feedback-modal [managedByService]="true" />
